.mail-header{
    border-bottom: .5px rgba(211, 211, 211, 0.301) solid;
    height: 60px;
    margin-bottom: 20px;

}

.mail-header .user-sign{
    border-radius: 50%;
    background-color: seagreen;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    color: white;
}

.mail-header .search{
    border: rgba(173, 216, 230, 0.425) 1px solid ;
    background-color: transparent;
    border-radius: 3.125em;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    
  

}

::-webkit-input-placeholder { 
    text-align:center;
  }